<h1>Nouveau cocktail</h1>
<div class="nouveaucocktail">
  <%= simple_form_for (@cocktail) do |f| %>
    <%= f.input :name%>
    <br>
    <%= f.button :submit, class: "btn-submit"%>
  <% end %>
</div>

<%= link_to "Homepage", cocktails_path%>
