// Carte de l'index
.card {
 display: flex;
 position: relative;
 width: 300px;
 height: 200px;
 border-radius: 10px;
 background-color: $gtarose;
 margin: 20px;
 box-sizing: border-content;
 box-shadow: -1px 1px 5px black;
 font-family: $cartefont;
 overflow: hidden;
 transition: 0.5s ease;
 flex-basis: 1;
}

.card:hover {
  box-shadow: 0px 0px 10px $gtavert;
  transform: scale(1.1);
  transition: 0.5s ease;
}

.card a {
 position: absolute;
 bottom: 0;
 right: 10px;
 text-decoration: none;
 text-transform: uppercase;
 font-family: $cartefont;
 color: black;
 transition: 0.5s ease;
 &:hover {
  color: $gtavert;
  transition: 0.5s ease;
 }
}

.card-img img {
 position: absolute;
 background-position: center;
 background-size: cover;
 width: 100%;
 height: 150px;
 top: 0;
}
// Carte nouveau cocktail :

.nouveaucocktail {
 display: flex;
 display: inline-block;
 justify-content: center;
 position: relative;
 width: 300px;
 height: 300px;
 border-radius: 10px;
 background-color: $gtarose;
 margin: 20px;
 box-sizing: border-content;
 box-shadow: -1px 1px 5px black;
 font-family: $cartefont;
 overflow: hidden;
 color: $gtavert;
 }

.nouveaucocktail label {
  color: $gtavert;
  display: inline;
}

.nouveaucocktail label.file {
  color: $gtavert;
    position: absolute;
  top: 123px;
}

.form-control-file {
  color: $gtavert;
  position: absolute;
  top: 150px;
}

.form-control {
  display: flex;
  position: absolute;
  top: 70px;
  right: 25px;
  border-radius: 50px;
  width: 250px;
  background-color: white;
  transition: 0.5s ease;
}

.form-control:hover {
box-shadow: 0px 0px 10px $gtavert;
transition: 0.5s ease;
}

.btn-submit {
  display: flex;
  position: absolute;
  list-style: none;
  text-decoration: none;
  bottom: 27px;
  border-radius: 50px;
  width: 250px;
  background-color: $gtavert;
  box-shadow: 3px 0px 0px $gtavert;
  opacity: 0.7;
  font-family: $gtafont;
  transition: 0.5s ease;
  font-weight: bold;
  color: $gtarose;
}

.btn-submit:hover {
  opacity: 1;
  color: white;
  text-shadow: 3px 0px 0px #DCC2E4;
  font-weight: bold;
  transition: 0.5s ease;
}

// Carte de la show

.cardshow {
 display: flex;
 display: inline-block;
 width: 350px;
 border-radius: 10px;
 background-color: $gtarose;
 background-position: center;
 margin: 20px;
 box-sizing: border-content;
 box-shadow: -1px 1px 5px black;
 font-family: $cartefont;
 overflow: hidden;
 color: $gtavert;
}

.cardshow img {
  height: 150px;
}

