.cocktaillist {
  display: flex;
  width: 1500px;
  min-width:300px;
  flex-wrap: wrap;
}

.showcocktail {
  display: flex;
  display: inline-block;
  color: $gtavert;
}

.ladose {
  height: 150px;
}
