@keyframes allumage {
  0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,92%
  {
  color: $gtavert;
  text-shadow: none;
  }
  18.1%,20.1%,30%,50%,60.1%,65%,80.1%,90%,92.1%,100%
  {
  color: $gtavert;
  text-shadow: 0px 0px 10px #DCC2E4,
  0px 0px 20px #DCC2E4,
  0px 0px 40px #DCC2E4,
  0px 0px 80px #DCC2E4,
  0px 0px 160px #DCC2E4;
  }
}
